#center_font_style{
  font-family: Courier New;
  font-style: italic;
  font-size: medium;
}

#topcenter_font_style{
  font-family: Copperplate;
  font-weight: bold;
}

#left_panel_text{
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
}

.left_panel{
  background: burlywood;    
  position: relative;
  left: 5px;
  top : 0px;
}

.size_sidepanel{
  width: 300px;
  height: 580px;
}

.topcenter_panel{
  background: skyblue;
  width: 715px;
  height: 100px;
  position: absolute;
  left: 325px;
  top : 0px;
}

.center_panel{
  background: springgreen;
  width: 715px;
  height: 470px;
  position: absolute;
  left: 325px;
  top : 110px;
}

.right_panel{
  background: hotpink;
  position: absolute;
  left: 1050px;
  top : 0px;
}  

.topcenter_h1{
  color: white;
  position: absolute;
  left: 450px;
  top : 20px;
}

.footer{
  background: yellow;
  width: auto;
  height: 25px;
  position: relative;
  bottom: 5px;
  text-align: center;
}