body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
    color: #50493E;
    text-align: center;
}

#center_font_style{
  font-family: Courier New;
  font-style: italic;
  font-size: medium;
}

#topcenter_font_style{
  font-family: Copperplate;
  font-weight: bold;
}

#left_panel_text{
  text-align: left;  
  position: absolute;
  left: 5px;
  top : 0px;
  width: 300px;
}

.left_panel{
  background: #FCFBFA;    
  position: absolute;
  left: 5px;
  top : 0px;
  width: 300px;
  height: 580px;
}

.right_panel{
  background: #FCFBFA;
  position: absolute;
  left: 1050px;
  top : 0px;
  width: 300px;
  height: 580px;
} 

.topcenter_panel{
  background: #FCFBFA;
  width: 715px;
  height: 100px;
  position: absolute;
  left: 325px;
  top : 0px;
}

.center_panel{
  background: #FCFBFA;
  width: 715px;
  height: 470px;
  position: absolute;
  left: 325px;
  top : 110px;
}

.topcenter_h1{
  position: absolute;
  left: 450px;
  top : 20px;
}

.footer{
  background: #FCFBFA;
  width: auto;
  height: 25px;
  position: absolute;
  bottom: 5px;
  text-align: center;
}